.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input {
  accent-color: var(--color-yellow);
  margin-right: 0.25rem;
  zoom: 1.5;
}

.label {
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-white);
  user-select: none;
}
