.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  accent-color: var(--color-yellow);
}

.input {
  margin-right: 0.25rem;
  zoom: 1.5;
}

.label {
  font-weight: 600;
  line-height: 1rem;
  color: var(--color-white);
  user-select: none;
}

/* getColorStyle */
.container.black {
  accent-color: var(--color-black);
}

.label.black {
  color: var(--color-black);
}

/* getSize */
.input.small {
  zoom: 1.2;
}

.label.small {
  font-size: 0.85rem;
}
