.container {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.6rem 0.4rem;
  margin: 0.6rem 0;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 3px solid var(--color-green);
  border-radius: 8px;
}

.label {
  position: absolute;
  top: -0.2rem;
  left: 0.8rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-black);
  background-color: var(--color-yellow);
  border-radius: 12px;
  transition: background-color 0.2s;
}

.input:focus {
  border-color: var(--color-blue);
}

.input:focus + .label {
  color: var(--color-white);
  background-color: var(--color-blue);
}

input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  color: transparent;
  cursor: pointer;
  background: transparent;
}

/* getContainerWidth() */
.container.short {
  width: 7rem;
}

.container.long {
  width: 14rem;
}

/* getSize() */
.input.small {
  padding: 0.3rem;
  margin: 0.4rem 0;
  font-size: 0.9rem;
}

.label.small {
  top: -0.3rem;
  padding: 0.15rem 0.5rem;
  font-size: 0.8rem;
}
