.header {
  position: relative;
  padding: var(--side-padding);
  margin: calc(0px - var(--side-padding)) calc(0px - var(--side-padding)) 0;
  background: rgb(166, 187, 141);
  background: linear-gradient(160deg, rgba(166, 187, 141, 1) 0%, rgba(234, 231, 177, 1) 100%);
  border-bottom: 2px solid var(--color-brand);
}

.title,
.bank,
.number,
.total {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bank,
.number,
.total {
  padding: 0.2rem 0.5rem;
  background-color: var(--color-green-light);
  border-radius: 16px;
}

.title {
  max-width: 15rem;
  margin-bottom: 0.5rem;
}

.bank-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.bank {
  max-width: 7rem;
  margin-right: 0.25rem;
}

.number {
  max-width: 16.25rem;
}

.amount {
  display: flex;
  align-items: center;
}

.total {
  max-width: 16.25rem;
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  .title {
    max-width: 20rem;
  }

  .bank-group {
    font-size: 0.9rem;
  }
}
