.list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 1rem;
  margin: 0 -1rem;
  background-color: var(--color-yellow);
  border-bottom: 1px solid var(--color-black);
}

.list:hover {
  filter: brightness(1.05);
}

.info {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}

.date {
  flex-shrink: 0;
  font-size: 0.75rem;
}

.message {
  font-size: 0.85rem;
  color: var(--color-blue);
  word-break: break-all;
}

.set-btn {
  position: absolute;
  top: 8px;
  right: 2px;
  padding: 0.5rem;
  border-radius: 50%;
}

@media screen and (min-width: 48rem) {
  .date {
    font-size: 0.85rem;
  }

  .message {
    font-size: 0.95rem;
  }
}
