label {
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.4625em,
    rgba(0, 0, 0, 0.25) 4px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.form input {
  border: 2px solid var(--color-green);
  border-radius: 8px;
}

.form input:focus {
  border: 2px solid var(--color-brand);
}

.form input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.radio-group {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-brand);
}

.radio-group label {
  padding: 0 0.25rem;
  color: var(--color-blue);
  accent-color: var(--color-blue);
}

.radio-group label:last-of-type {
  color: var(--color-red);
}

.radio-group label:first-of-type::after {
  margin: 0 0.5rem;
  font-size: 0.7rem;
  content: '';
  border-right: 2px solid var(--color-green);
}

.radio-group input:last-of-type {
  accent-color: var(--color-red);
}

.date-group input {
  position: relative;
}

.date-group input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  color: transparent;
  cursor: pointer;
  background: transparent;
}

.price-group,
.date-group {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.price-group label,
.date-group label {
  width: 5rem;
  padding: 0.3rem 0;
  margin-right: 0.5rem;
  text-align: center;
  background-color: var(--color-green-light);
  border-radius: 16px;
}

.price-group input,
.date-group input {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.date-group {
  margin-bottom: 0.5rem;
}

.btn-group {
  display: flex;
  margin: 0 -0.5rem -0.5rem;
  border-top: 1px solid var(--color-brand);
}

.register-btn,
.cancel-btn {
  width: 100%;
  padding: 0.6rem;
  font-weight: 700;
  transition: filter 200ms ease;
}

.register-btn:hover,
.cancel-btn:hover {
  filter: brightness(1.05);
}

.register-btn {
  background-color: var(--color-yellow);
}

.cancel-btn {
  background-color: var(--color-gray-light);
}
