.plus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  margin: 1.25rem 0;
  background-color: var(--color-yellow);
  filter: drop-shadow(2px 2px 0 var(--color-black));
  border-radius: 16px;
}

.plus-btn svg {
  transition: transform 200ms ease;
}

.plus-btn:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px inset;
}

.plus-btn:active svg {
  transform: rotate(90deg);
}
