.title,
.bank,
.number,
.total {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bank,
.number,
.total {
  padding: 0.2rem 0.5rem;
  background-color: var(--color-green-light);
  border-radius: 16px;
}

.title {
  max-width: 15rem;
  margin-bottom: 0.5rem;
}

.bank-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.bank-icon {
  padding: 0.1rem;
  margin-right: 0.25rem;
  font-size: 1.5rem;
  color: var(--color-white);
  border-radius: 50%;
  transform: rotate(90deg);
}

.bank {
  max-width: 3.75rem;
  margin-right: 0.25rem;
}

.number {
  max-width: 16.25rem;
}

.amount {
  display: flex;
  align-items: center;
}

.total {
  max-width: 16.25rem;
  font-weight: 600;
}

.money-icon {
  margin-right: 0.25rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

.bank-icon,
.money-icon {
  margin-right: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-yellow);
  filter: drop-shadow(0 0 2px #3c6255);
  border-radius: 50%;
}

.bank-icon {
  padding: 0.1rem;
  transform: rotate(90deg);
}

.money-icon {
  margin-right: 0.25rem;
}

@media screen and (min-width: 48rem) {
  .title {
    max-width: 20rem;
  }
}
