.header {
  position: relative;
  padding: var(--side-padding);
  margin: calc(0px - var(--side-padding)) calc(0px - var(--side-padding)) 0;
  background: rgb(166, 187, 141);
  background: linear-gradient(160deg, rgba(166, 187, 141, 1) 0%, rgba(234, 231, 177, 1) 100%);
  border-bottom: 2px solid var(--color-brand);
}

.detail {
  margin-bottom: 4rem;
}
