.history-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 1rem;
  margin: 0 -1rem;
  border-bottom: 1px solid var(--color-black);
}

.history-list.disabled {
  opacity: 0.4;
}

.history-list:first-child {
  border-top: 1px solid var(--color-black);
}

.history-list:nth-child(even) {
  background-color: rgba(237, 237, 237, 0.6);
}

.history-list:hover {
  background-color: rgba(234, 231, 177, 0.6);
}

.left {
  display: flex;
  align-items: center;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}

.date {
  font-size: 0.7rem;
}

.message {
  max-width: 8rem;
  overflow: hidden;
  font-size: 0.85rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.type {
  font-size: 0.7rem;
  color: var(--color-red);
}

.type.deposit {
  color: var(--color-blue);
}

.price {
  max-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.set-btn {
  position: absolute;
  top: 8px;
  right: 2px;
  padding: 0.5rem;
  border-radius: 50%;
}

@media screen and (min-width: 48rem) {
  .message {
    max-width: 19rem;
  }

  .price {
    max-width: 15rem;
  }
}
