.history-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 1rem;
  margin: 0 -1rem;
  background-color: var(--color-yellow);
  border-bottom: 1px solid var(--color-black);
}

.history-list:first-child {
  border-top: 1px solid var(--color-black);
}

.history-list:hover {
  filter: brightness(1.05);
}

.left {
  display: flex;
  align-items: center;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}

.date,
.message {
  font-size: 0.8rem;
}

.date {
  flex-shrink: 0;
}

.message {
  color: var(--color-blue);
}

.set-btn {
  position: absolute;
  top: 8px;
  right: 2px;
  padding: 0.5rem;
  border-radius: 50%;
}
