.history-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  margin: 0 -1rem;
  background-color: var(--color-yellow);
  border-bottom: 1px solid var(--color-black);
}

.left {
  display: flex;
  align-items: center;
}

.date,
.message {
  font-size: 0.8rem;
  color: var(--color-blue);
}

.date {
  margin: 0 0.5rem;
}

.set-btn {
  position: absolute;
  top: 8px;
  right: 2px;
  padding: 0.5rem;
  border-radius: 50%;
}
