.body {
  display: flex;
}

.icon {
  display: none;
}

@media screen and (min-width: 48rem) {
  .icon {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
  }
}
