.container {
  display: flex;
}

.form {
  flex-grow: 1;
}

.icon {
  display: none;
}

@media screen and (min-width: 48rem) {
  .form {
    flex-basis: 65%;
  }

  .icon {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
  }
}
