input {
  border: 2px solid var(--color-green);
  border-radius: 8px;
}

input:focus {
  border: 2px solid var(--color-brand);
}

input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.text-input {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0.25rem 0;
}

.text-input label {
  width: 5rem;
  padding: 0.3rem 0;
  margin-right: 0.5rem;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 16px;
}

.text-input input {
  width: 100%;
  max-width: 25rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-white);
}

.date-group {
  margin-bottom: 1rem;
}

.date-group input {
  position: relative;
}

.date-group input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  color: transparent;
  cursor: pointer;
  background: transparent;
}
