.header {
  position: relative;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.header::after {
  position: absolute;
  bottom: -0.7rem;
  width: 100%;
  content: '';
  border: 1px solid var(--color-gray);
}
